body {
  font-family: "Open Sans", sans-serif;
  margin: 10px 50px 20px 50px;
  max-width: 100%;
}

.navbar-nav {
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin-top: 35px;
}
.nav-link {
  font-size: 18px;
}
.navbar li {
  display: inline-block;
}

.nav-item {
  text-align: center;
  margin: 0 auto;
  padding-right: 5px;
}

.site-description {
  font-size: 18px;
}

.logo {
  color: black !important;
  font-size: 30px;
  font-weight: initial;
  text-decoration: none !important;
  text-transform: uppercase;
}

.designer {
  text-decoration: none !important;
  color: #6c757d!important
}

.copy-rights  {
  font-size: 14px;
}

#head {
  text-align: center;
  margin: 0 auto;
}

.container,
.header,
.main-section {
  margin: 0 auto;
  max-width: 1340px;
  text-align: center;

  /* padding-left: 50px; */
}

.social_home li a {
  font-size: 30px !important;
  color: black;
  display: inline-block;
  width: 40px !important;
  text-align: center;
}

.social_home li a:hover > .fa-facebook-f {
  color: #9b034f;
}

.social_home li a:hover > .fa-instagram {
  color: #9b034f;
}


.header {
  margin: 0 auto;
  text-align: center;
  color: black;
  margin: 0 auto;
}

.figure
 {
  padding: 5px;
  margin: 2px;
}

.img-fluid {
  width: 250px;
  height: 380px;
  object-fit: cover;
}

#bigger {
  width: auto;
  height: 380px;
  /* object-fit: cover; */
  
}

/* about.html */

#picture {
  text-align: center;
  padding: 0;

}
.rounded {
  border-radius: .25rem!important;
}

h2 {
  margin-bottom: 30px;
}

.main-section {
  max-width: 1140px;
  margin-top: 20px;
  padding: 5px;
  padding-right: 5px;
}

#about-me {
  font-size: 20px;
}

/* footer */
.copy-rights {
  margin-top: 50px;
}

