body {
  font-family: "EB Garamond", serif;
}

.navbar-nav {
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

.nav-link {
  font-size: 25px;
}
.navbar li {
  display: inline-block;
}

.nav-item {
  text-align: center;
  margin: 0 auto;
}

.site-description {
  font-size: 30px;
  
}

.logo {
  color: black;
  font-size: 45px;
  /* letter-spacing: 0.15em; */
  font-weight: initial;
}

a {
  font-weight: bold;
  /* padding: 6px; */
}

#head {
  text-align: center;
  margin: 0 auto;
}

.container,
.header {
  margin: 0 auto;
  max-width: 1340px;
  padding-left: 50px;
}

.header {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  color: black;
  margin: 20px;
}

.figure {
  padding: 5px;
  margin-bottom: 2px;
}

.img-fluid {
  max-width: 350px;
  height: 450px;
}
